* {
    box-sizing: border-box; 
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

.header {
    display: flex;
    justify-content: center;

}

.heading-1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
}

.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 980px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 5px;

}

.explain {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    text-align: center;
}

.check-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(104, 104, 104);
}

.password {
    display: flex;
    flex-wrap: wrap;
    border-left: lightgray;
    border-right: lightgray;
    margin: 0;
    padding: 10px;
    min-height: 100px;
    font-family: 'Aldrich', sans-serif;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.generate{
    font-size: 15px;
    color: #ffffff;
    background-color: #C00000;
    padding: 15px;
    margin: 0;
    border-radius: 30px;
}

.generate:hover {
    background-color: rgb(139, 9, 9);
}

.copy {
    font-size: 15px;
    color: #ffffff;
    background-color: #C00000;
    padding: 15px;
    margin: 0;
    border-radius: 30px;
}

.copy:hover {
    background-color: rgb(139, 9, 9);
}

.disable {
    font-size: 15px;
    color: #d6d1d1;
    background-color: rgb(155, 152, 152);
    padding: 15px;
    margin: 0;
    border-radius: 30px;
}

@media(max-width: 600px) {

    .buttons {
        flex-direction: column;
    }

    .column--mobile-1 {
        width: calc(8.3333333333% - 20px);
    }
  
    .column--mobile-2 {
        width: calc(16.6666666667% - 20px);
    }
  
    .column--mobile-3 {
        width: calc(25% - 20px);
    }
  
    .column--mobile-4 {
        width: calc(33.3333333333% - 20px);
    }
  
    .column--mobile-5 {
        width: calc(41.6666666667% - 20px);
    }
  
    .column--mobile-6 {
        width: calc(50% - 20px);
    }
  
    .column--mobile-7 {
        width: calc(58.3333333333% - 20px);
    }
  
    .column--mobile-8 {
        width: calc(66.6666666667% - 20px);
    }
  
    .column--mobile-9 {
        width: calc(75% - 20px);
    }
  
    .column--mobile-10 {
        width: calc(83.3333333333% - 20px);
    }
  
    .column--mobile-11 {
        width: calc(91.6666666667% - 20px);
    }
  
    .column--mobile-12 {
        width: calc(100% - 10px);
    }
  }
  