* {
    box-sizing: border-box; 
}

html,
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: min-content;
    background-image: url("../images/concrete_seamless.png");
}

.container {
    display: flex;
    flex-direction: column;
}

.main-header {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    align-items: center;
    border-bottom: solid #dddddd;
}

.inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    min-width: calc(67% - 10px);
    background: #ffffff;
}

.name {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 26px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.nav {
    display: flex;
}

.main-nav {
    display: flex;
    list-style: none;
    padding: 10px 20px;
}

.about, .portfolio, .contact {
    color: #777777;
    text-decoration: none;
    padding: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-right: solid #dddddd;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 960px;
    background: #ffffff;
    border: solid #dddddd;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.image {
    float: left;
    width: 200px;
    height: 200px;
    padding: 10px;
}

.heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom:  solid #dddddd;
    padding-bottom: 20px;;
}

.profile_text {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: justify;
    color: #777777;
    line-height: 40px;
    font-size: 20px;
}


.group {
    margin: 10px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.input {
    resize: vertical;
    border: 1px solid #999;
    padding: 10px 20px;
    min-width: calc(100% - 10px);
    margin: auto;
}

.button {
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px;

}

.gallery-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery {
    position: relative;
    margin: 0;
    padding: 0;
}

.text {
    position: absolute;
    text-align: center;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    bottom: 20px;
    max-width: calc(100% - 10px);
    left: 0;
    right: 0;
    padding: 10px;
    margin:10px;
}

.vader {
    max-width: calc(100% - 10px);
    height: 230px;
    margin: 10px;
}

.footer {
    position: fixed;
    display: flex;
    justify-content: center;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    color: #ffffff;
    background: #666666;
    border-top: 8px solid #4aaaa5;
}


@media(max-width: 600px) {

    .inner-header,
    .gallery-main {
        flex-direction: column;
        align-items;: center;
        /* align-items: flex-start; */
    }

    .column--mobile-1 {
        width: calc(8.3333333333% - 20px);
    }
  
    .column--mobile-2 {
        width: calc(16.6666666667% - 20px);
    }
  
    .column--mobile-3 {
        width: calc(25% - 20px);
    }
  
    .column--mobile-4 {
        width: calc(33.3333333333% - 20px);
    }
  
    .column--mobile-5 {
        width: calc(41.6666666667% - 20px);
    }
  
    .column--mobile-6 {
        width: calc(50% - 20px);
    }
  
    .column--mobile-7 {
        width: calc(58.3333333333% - 20px);
    }
  
    .column--mobile-8 {
        width: calc(66.6666666667% - 20px);
    }
  
    .column--mobile-9 {
        width: calc(75% - 20px);
    }
  
    .column--mobile-10 {
        width: calc(83.3333333333% - 20px);
    }
  
    .column--mobile-11 {
        width: calc(91.6666666667% - 20px);
    }
  
    .column--mobile-12 {
        width: calc(100% - 10px);
    }
  }
  